// Content

.section_black {
    background-color: $two_color;
    .container {
        padding: 40px 0px;
        position: relative;
        .etichetta {
            background-color: $one_color;
            padding: 5px 20px;
            color: white;
            font-weight: bold;
            top: -20px;
            position: absolute;
        }  
        .container-dischi {
            display: flex;
            flex-wrap: wrap;
            .column {
                width: calc(100% / 6);
                padding: 10px;
                img {
                    object-fit: cover;
                    object-position: top;
                    width: 150px;
                    height: 150px;
                }
                h3 {
                    color: white;
                }
            }
        }
        .container-bottone {
            text-align: center;
            .btn-blue {
                display: inline-block;
                color: white;
                font-weight: bold;
                padding: 10px 30px;
                background-color: $one_color;
            }
        }
    }
}